/* Build a Website Design System Project styles.css */

@font-face {
    font-family:"Vollkorn";
    src: url("fonts/Vollkorn-VariableFont_wght.ttf");
}

@font-face {
    font-family:"Inter";
    src: url("fonts/Inter-Regular.ttf");
}

@font-face {
    font-family:"Barlow";
    src: url("fonts/BarlowSemiCondensed-Regular.ttf");
}


body {
    width:80%;
    background-color:#F4F4F0;
    margin:0 auto;
}

header,
main section {
   background-color:white; 
   border: 1px solid gray;
   margin:5px 0;
   padding:5px;
}

/* Color Section */

.container {
    margin:0 auto;
}
.colorbox {
    width:23%;
    height:70px;
    padding:5px;
    position:relative;
    display:inline-block;
}
.colorbox p {
    font-weight:bold;
    text-align:center;
}

.color1 {
    background-color:#f77d87;
}
.color2 {
    background-color:#9495ff;
}
.color3 {
    background-color:#ffc888;
}
.color4 {
    background-color:#92dcff;
}

/* Fonts Section */

.font-box {
    display:inline-block;
}

.font-box.vollkorn{
    font-family:'Vollkorn';
}

.font-box.inter {
    font-family:'Inter';
}

.font-box.barlow {
    font-family:'Barlow';
}

.font-box h3 {
    font-size:20px;
    font-weight:700;
}

.font-box p {
    font-size:16px
}

.bold {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

/* Text Section */

.text-styles {
    display: inline-block;
}

.text-styles h1,
.text-styles .h1-text {
    font-family: "Vollkorn";
    font-weight: 700;
    font-size:26px;
}

.text-styles h2,
.text-styles .h2-text {
    font-family: "Inter";
    font-weight: 500;
    font-size:18px;
}

.text-styles p,
.text-styles .p-text {
    font-family: "Barlow";
    font-weight: 400;
    font-size:14px;
}

