* {
    background-color:#f2f2f2;
}
header h1,
header p,
main h2,
footer p
{
    text-align:center;
}

main,
footer {
    width: 70%;
    margin: 0 auto;
}

main p,
footer p {
    text-align:left;
}

main table {
    margin: 0 auto;
}

strong {
    font-weight:bold;
    font-style:italic;
}

.italic {
    font-family:monospace;
    font-style:italic;
    color: blue;
}

table,
td {
    border: 1px dotted lightgray;
    border-spacing: 5px;
}

table tr th {
    background-color:lightgray;
    color:red;
}

