
body {
    background-color:black;
    opacity:0.9;
    font-size:22px;
    font-family:Helvetica;
    color:seashell;
    text-align:center;
}

/* Layout */

main {
    padding: 0px 20px;
    margin:0 auto;
    width:1200px;
}

/* Links */

a {
    color:seashell;
}

a:link {
    text-decoration:underline;
}
a:visited {
    text-decoration:underline;
}
a:hover {
    color:orange;
    text-decoration:underline;
}
a:active {
    text-decoration:underline;
}

/* Header */

header {
    height:69px;
    position:static;
    border-bottom:1px solid seashell;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header .logo {
    padding-left:10px;
}

header .logo img {
    height:50px;
}

/* Mission */

#mission {
    height:700px;
    background-image:url(../img/img-mission-background.jpg);
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
}

#mission #mission-text {
    background-color:black;
    width:100%;
}

/* Tea of the Month */

#tea-of-the-month {
}

.tom-header {

}

.tom-container {
    display:flex;
    justify-content: center;
    align-items:center;
    width:1000px;
    gap: 20px;
    margin:0 auto;
    flex-wrap:wrap;
}

.tom-box {
}

.tom-box img {
    width:300px;
    height:200px;
}

.tom-box h4 {
    margin-top:10px;
}

#locations {
    height:500px;
    background-image:url("../img/img-locations-background.jpg");
    background-repeat:no-repeat;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    align-content:center;
}

#locations h2 {
    width:100%;
}

.loc-container {
    display:flex;
}

.loc-box {
    background:black;
    margin:0 20px;
    width:300px;
    opacity:1;
}

footer {
}

footer #contact {
   height:200px; 
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
}

footer #contact h5 {
    width:100%;
}

footer .left {
    text-align:left;
    margin-left:20px;
}

